#nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 300px;
  padding-top: 20px;
  color: white;
  button{
    background: #c86d6d;
    margin-left: 10px;
  }
}


